/*----------------------------------------------
----------------------GENERAL--------------------
------------------------------------------------*/
body {
  background: #FFF;
  overflow-x: hidden;
  color: #515151;
}

*::selection { 
  background: rgb(0,0,0);
  color: white;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
p {
  transition: all 0.4s ease; 
}
@font-face {
  font-family: 'Futura PT Light';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
      url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Regular';
  src: url('../fonts/FuturaPT-Regular.woff2') format('woff2'),
      url('../fonts/FuturaPT-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Medium';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
      url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Bold';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
      url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
      url('../fonts/ProximaNova-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,1);
  z-index: 150;
}
.too-small-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3b3b3b;
  z-index: 1000;
  font-family: 'Proxima Nova Regular';
  color: white;
  text-align: center;
  display: none;
  transition: all 0.7s ease;
  animation: fadeIn 0.6s forwards;
}
.too-small-message p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 17px;
}
.jarallax {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60vh;
}
.jarallax .jarallax-img {
  position: absolute;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.jarallax .jarallax-img img {
  width: auto;
}
.jarallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: -moz-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%, rgba(47, 0, 99, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47, 0, 99, 0.5)), color-stop(100%,rgba(0, 75, 75, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* W3C */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
/*----------------------------------------------
-------------------MAIN SECTION-----------------
------------------------------------------------*/
#particles-js {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100%;
}
.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform: perspective(1px) scale(1.25);
  transition: opacity .5s ease, transform 3s ease;
  background-repeat: no-repeat !important;
  background: url('../img/brendan.jpg');
  background-position: 0% 30% !important;
  background-size: cover !important;
  transition: all 0.8s ease;
}
.main, .about {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 1; 
  background: -moz-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%, rgba(47, 0, 99, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47, 0, 99, 0.5)), color-stop(100%,rgba(0, 75, 75, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* W3C */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.main .title-text {
  left: 85px;
  position: absolute;
  top: auto !important;
  bottom: 63px !important;
  color: #fff;
  font-family: 'Futura PT Medium';
}
.main .title-text h1 {
  font-size: 80px;
}
.main .title-text .smaller {
  margin-top: -13px;
  font-size: 25px;
  font-family: 'Proxima Nova Regular';
}
.main .title-text h3 {
  font-size: 34px;
  font-family: 'Futura PT Light';
}
/*----------------------------------------------
-------------------ABOUT SECTION-----------------
------------------------------------------------*/

.block {
  height: 100%;
  padding: 40px 80px 80px 80px;
  background: #fff;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1; 
}
.block .container {
  position: relative;
  display: block;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}
.block p {
  font-size: 17px; 
  font-family: 'Muli', 'sans-serif';
  text-align: left;
}
.block h1 {
  font-family: 'Futura PT Bold';
  letter-spacing: 1px;
  font-size: 35px; 
  color: #3b3b3b;
  text-align: center;
}
.about .left-container {
  float: left;
  width: 45%;
  height: 100%;
  margin-right: 5%;
}
.about .right-container {
  float: right;
  width: 45%;
  margin-left: 5%;
}
.about .right-container .image-container {
  position: relative;
  height: 100%;
  width: fit-content;
}
.about .right-container .about-image {
  display: block;
  width: 100%;
  transition: all 0.8s ease;
  border-radius: 6px;
  overflow: hidden;
  transform: scale(1.05);
}
.about .right-container picture img {
  height: 100%;
  border-radius: 6px;
}
.about .right-container .image-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
  z-index: 2;
  transform: scale(1.05);
}
.about .right-container .image-container .overlay.gradient {
  opacity: 0.2;
  background: -moz-linear-gradient(-45deg,  #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -webkit-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  background: -o-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  background: -ms-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  background: linear-gradient(135deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  transition: all 0.8s ease;
}
.highlight {
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}
.highlight.heart {
  background: #ca084194;
}
.highlight.coffee {
  background: #2d0000a8;
}
.highlight.sunshine {
  background: #e9bc007a;
  color: #3b3b3b;
  white-space: nowrap;
}
.highlight.latte {
  background: #6b430080;
}
.pattern.one {
  width: 130px;
}
.about .container #scene {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%);
}
/*----------------------------------------------
---------------TESTIMONIALS SECTION-------------
------------------------------------------------*/

.testimonials .container {
  max-width: 1200px;
  margin-top: 0;
}
.testimonial-item {
  margin-top: 60px;
  max-width: 700px;
  padding: 30px 30px 30px 20px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  border-radius: 6px;
  display: table;
  transition: all 0.6s ease;
}
.testimonial-container {
  display: inline-block;
  width: 100%;
}
.testimonial-image {
  float: left;
  width: auto;
  margin-right: 70px;
  display: inline-block;
}
.testimonial-image p {
  color: #9b9b9b;
  margin-bottom: 0;
  font-size: 13px; 
}
.testimonial-image p:nth-child(1) {
  color: #484848;
  font-size: 17px; 
  font-weight: bold;
}
.testimonial-image picture {
  display: block;
  margin-bottom: 10px;
}
.testimonial-image picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.testimonial-description {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  line-height: 25px;
  backface-visibility: hidden;
}
.testimonial-quote-top,
.testimonial-quote-bottom {
  position: absolute;
  width: 30px;
  height: auto;
  z-index: -1;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.testimonial-quote-top {
  top: -10px;
  left: -40px;
}
.testimonial-quote-bottom {
  bottom: -10px;
  right: -10px;
}
.testimonial-item.left {
  float: left;
}
.testimonial-item.right {
  float: right;
}
.pattern.two {
  width: 100px;
}
.pattern.three {
  width: 70px;
}
.testimonials .container #scene-2 {
  position: absolute;
  top: 30%;
  left: -80px;
}
.testimonials .container #scene-3 {
  position: absolute;
  bottom: 33%;
  right: -50px;
}
/*----------------------------------------------
-----------------PACKAGES SECTION---------------
------------------------------------------------*/

.packages .container {
  margin-top: 50px;
  max-width: 1080px;
}
.package-item {
  display: block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: 320px;
  position: relative;
  transition: all 0.6s ease;
  border-radius: 6px;
  max-width: 600px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  margin: 0 auto;
  margin-bottom: 40px;
}
.package-header {
  width: 120px;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  transform: scale(1.005);
  margin-left: -1px;
  float: left;
}
.package-header.seqld {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.package-header.destination {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.package-header.sydmelb {
  background-image: linear-gradient(to top, #8451c2 0%, #30cfd0 100%);
}
.text {
  font-size: 17px;
  color: #515151;
  position: absolute;
  font-family: 'Muli', 'sans-serif';
  height: 100%;
  width: auto;
  left: 150px;
}
.text ul {
  padding-inline-start: 20px;
  list-style-type: none;
  text-align: left;
  padding: 10px 25px;
}
.text li {
  line-height: 22px;
  margin-bottom: 5px;
}
/*.text ul li:before {
  content: "-";
  margin-right: 5px;
}*/
.text dt {
  text-align: left;
  font-size: 23px;
  margin-top: 12px;
  font-weight: 700;
  padding-left: 25px;
}
.text dd {
  text-align: left;
  font-size: 23px;
  position: relative;
  width: 100%;
  padding-left: 25px;
  margin-bottom: 10px;
}
.gst {
  font-size: 9px;
  color: #808080;
  margin-left: 5px;
}
.package-icon {
  position: absolute;
  top: 140px;
  width: 50px;
  height: 50px;
  left: 0px;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: -1;
  backface-visibility: hidden;
}
.package-icon.cake {
  background: url('../img/icons/cake.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-icon.rings {
  background: url('../img/icons/rings.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-icon.bouquet {
  background: url('../img/icons/bouquet.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-select {
  position: absolute;
  width: 100%;
  bottom: -1px;
  transition: all 0.4s ease;
  border-bottom: 1px solid #1e65ae;
  z-index: -1;
}
.heart-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #ffc5d1;
  transition: all 0.6s ease;
  border-radius: 50%;
  padding: 15px;
  border: 6px solid #fff;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 130px;
}
.heart-btn:hover{
  cursor: pointer;
  background: #b095cb;
}
.heart-btn img { 
  width: 17px;
  margin: 0 auto;
  display: block;
  margin-top: 3px;
}

/*----------------------------------------------
------------------CONTACT SECTION---------------
------------------------------------------------*/

.contact h3 {
  font-size: 20px;
  font-family: 'Futura PT Light';
  text-align: center;
}
.contact .container {
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 6px;
  max-width: 600px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  padding-left: 40px;
}
.contact .container form div {
  padding-right: 35px;
}
.form-input {
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px; 
  font-size: 16px;
  background-color: unset;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #acacac;
  border: none;
  border-bottom: 1px solid #1e65ae;
  margin-bottom: 10px;
}
.form-input-container p {
  margin-bottom: 10px;
}
.form-name {
  margin-bottom: 20px;
}
.btn-submit {
  margin-top: 20px;
  margin-left: 38%;
  width: 120px; 
  height: 40px;
}
textarea, input {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0px 50px 0px 15px;
  outline: none;
  color: #ffffff;
  border-bottom: none;
  transition: all 0.2s ease-in-out;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus,
#wedding-datepicker input:hover,
#wedding-datepicker input:focus,
#time-label:hover,
#time-label:focus {
  color: #494949;
  background: #1e65ae33;
  /*font-size: 16px;*/
}
form {
  width: 500px;
  margin: 0 auto;
}
form .col-md-4,
form .col-md-6,
form .col-md-8,
form .col-md-12 {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;
}
form .col-md-12 textarea {
  height: 100px;
  margin-bottom: 30px;
  margin-top: -15px;
  transition: all 0.2s ease-in-out;
}
#wedding-datepicker input {
  display: block;
  width: 294px;
  font-family: 'Muli', sans-serif;
  text-align: left;
  color: transparent !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1e65ae;
  border-radius: 0;
  transition: border-color 0.2s ease-out;
}
#wedding-datepicker input:first-child, #wedding-datepicker input:last-child {
  border-radius: 0;
}
#wedding-datepicker .date-text {
  position: absolute;
  bottom: 6px;
  left: 12px;
  font-family: 'Muli', sans-serif;
  margin: auto;
  color: #555 !important;
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px; 
}
.input-group.time {
  padding-right: 0 !important;
}
.input-group.time .form-control {
  width: 70px;
}
#wedding-time {
  width: 0px;
  min-width: 0px;
  padding: 0;
  opacity: 0;
}
.time-label {
  position: relative;
  display: inline-block;
  float: left;
  font-family: 'Muli', sans-serif;
  text-align: left;
  border-bottom: 1px solid #1e65ae;
  height: 35px;
  width: 127px;
  padding: 9px 9px 0 12px;
}
.input-group-append {
  position: absolute;
  left: 0px;
  top: 0;
  opacity: 0;
  top: -35px;
  width: 210px;
  height: 100%;
}
.timepicker-hour,
.timepicker-minute {
  margin-left: 10px;
}
.timepicker-hours .table-condensed,
.timepicker-minutes .table-condensed {
  margin: 15px;
}
.datepicker.dropdown-menu {
  font-family: 'Muli', sans-serif;
  padding: 0;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  animation: popup 0.2s ease-out forwards;
}
.datepicker.dropdown-menu table {
  background-color: #1b7983;
}
.datepicker.dropdown-menu table thead {
  background-color: #1b7983;
}
.datepicker.dropdown-menu table thead tr {
  border-top: 0;
}
.datepicker.dropdown-menu table tbody {
  background-color: white;
}
.datepicker.dropdown-menu table tr {
  border-top: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
  width: auto;
  height: 24px;
  padding: 8px;
  font-size: 16px;
  border-radius: 0;
  transition: background-color 0.6s ease-out;
}
@media screen and (min-width: 400px) {
  .datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
    padding: 12px;
  }
}
.datepicker.dropdown-menu table tr td:hover, .datepicker.dropdown-menu table tr th:hover, .datepicker.dropdown-menu table tr td.active:hover, .datepicker.dropdown-menu table tr th.active:hover, .datepicker.dropdown-menu table tr td:active:hover, .datepicker.dropdown-menu table tr th:active:hover {
  border-color: #ededed;
  border-radius: 0;
  transition: background-color 0.2s ease-out;
}
.datepicker.dropdown-menu table tr td.focused, .datepicker.dropdown-menu table tr th.focused, .datepicker.dropdown-menu table tr td.selected, .datepicker.dropdown-menu table tr th.selected {
  background-color: #24a0ad;
  border-color: #ededed;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr td.active, .datepicker.dropdown-menu table tr th.active, .datepicker.dropdown-menu table tr td.active:focus, .datepicker.dropdown-menu table tr th.active:focus, .datepicker.dropdown-menu table tr td.active.active:hover, .datepicker.dropdown-menu table tr th.active.active:hover, .datepicker.dropdown-menu table tr td:active:focus, .datepicker.dropdown-menu table tr th:active:focus, .datepicker.dropdown-menu table tr td.highlighted, .datepicker.dropdown-menu table tr th.highlighted {
  background-color: #1b7983;
  border-color: #ededed;
}
.datepicker.dropdown-menu table tr th.datepicker-switch {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: inherit;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr th.prev, .datepicker.dropdown-menu table tr th.next {
  color: #fff;
  background-color: #17656e;
  border-radius: 0;
  padding-left: 20px;
}
.datepicker.dropdown-menu table tr th.dow {
  padding: 2px 12px;
  font-size: 12px;
  line-height: 2;
  color: #fff;
  background-color: #19717a;
  border-top: 1px solid #196d76;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr td.day {
  width: 24px;
  border-right: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td.day:last-child {
  border-right-width: 0;
}
.datepicker.dropdown-menu table tr td.range {
  background-color: #eee;
}
.datepicker.dropdown-menu .new, .datepicker.dropdown-menu .old, .datepicker.dropdown-menu .disabled, .datepicker.dropdown-menu .disabled:hover {
  color: #ccc;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
.fontawesome-calendar {
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 24px;
  z-index: -99;
}
@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td, .bootstrap-datetimepicker-widget.dropdown-menu table th {
  border-radius: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.old, .bootstrap-datetimepicker-widget.dropdown-menu table td.new {
  color: #bbb;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
  border-bottom-color: #0095ff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active, .bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover, .bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
  background-color: #0095ff;
  text-shadow: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before, .bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before, .bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  height: 40px;
  padding: 0;
  width: 40px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-animated {
  color: #fff;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  background: #1e65ae;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  padding-right: 0 !important; 
  border-radius: 6px;
}
.btn-animated span {
  text-align: center;
}
.btn-animated::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-animated:hover {
  font-size: 12px;
}
.btn-animated:hover::before {
  opacity: 0;
  transform: scale(0.5,0.5);
}
.btn-animated::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-animated:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
.pattern.four {
  width: 100px;
}
.contact .container #scene-4 {
  position: absolute;
  top: 10%;
  right: -80px;
}
/*----------------------------------------------
------------------NAVBAR STYLES-----------------
------------------------------------------------*/

.navbar-default {
  background-color: transparent;
  z-index: 99;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 53px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: none;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  transition: all 0.5s ease;
  padding-top: 20px;
}
.navbar {
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}
.navbar-default {
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.container {
  width: auto;
  margin-left: 35px;
  margin-right: 45px;
}
.navbar-nav {
  width: 100%;
  text-align: right;
  float: right;
}
.navbar-nav li {
  display: inline-block;
}
.navbar-right {
  right: 300px;;
  margin-top: -35px;
  position: absolute;
  float: none;
}
.contact-icon {
  width: 15px;
  height: 15px;
}
.contact-icon {
  margin-right: 15px;
}
.contact-icon-footer {
  margin: 0px;
}
.phone {
  width: 12px;
  height: 12px;
}
.email {
  height: 17px;
  width: 17px;
}
.facebook {
  height: 18px;
  width: 18px;
}
.logo-img {
  position: absolute;
  z-index: 0;
  padding-top: 2px;
  right: 85px;
  width: 180px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.navbar-collapse {
  padding-left: 75px;
  max-width: 1080px;
}
.navbar-default .container .navbar-header .logo-img {
  top: 90px;
  left: 20px;
  height: 100px !important;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:focus, 
.navbar-default .navbar-nav .active a:hover {
  background: transparent;
}
.navbar-default .navbar-nav li a::after {
  bottom: -4px;
}
.navbar-default .navbar-nav li a {
  color: white;
  font-family: 'Futura PT Light';
  font-size: 16px;
  font-weight: 200;
  color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #1e65ae !important; 
}
.navbar-default .navbar-nav .active a:focus {
  color: inherit;
}
.navbar-brand {
  opacity: 0;
  position: fixed;
  top: 3px;
  left: 5px;
  transform: none !important;
  display: inline-block;
  padding: 0;
  z-index: 999;
  transition: all 0.4s ease;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  /* margin-right: 15px; */
  /* margin-bottom: 8px; */
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}
.navbar-default .navbar-toggle,
.navbar-default-home .navbar-toggle {
  border-color: transparent; /* Removes border color */
}
.navbar-default .navbar-toggle .icon-bar, .navbar-default-home .navbar-toggle .icon-bar {
    background-color: #5c6174;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default > .container > .navbar-header > a > img {
  height: 70px !important;
  padding: 4px 8px 22px 8px;
}
.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
  display: inherit;
}
.navbar-toggle {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: none; 
}
.navbar-collapse.collapsing {
  margin-top: 17px;
}
.navbar-collapse.in {
  overflow: hidden;
}
.navbar-collapse.in  .navbar-nav {
  transition: all 0.3s ease-in-out;
  opacity: 1 !important;
}
.transparent {
  opacity: 0 !important;
}
.opaque {
  opacity: 1 !important;
}
.hamburger-slim {
  background: transparent;
  /* margin: 60px auto 40px; */
  position: absolute;
  top: 6px;
  height: 20px;
  width: 30px;
}
.hamburger-slim:before, .hamburger-slim:after {
  background: #3b3b3b;
  backface-visibility: hidden;
  content: "";
  height: 2px;
  left: 0;
  transition: 0.44s;
  width: 30px;
}
.hamburger-slim:before {
  box-shadow: #3b3b3b 0 9px 0 0;
  position: absolute;
  top: 0;
}
.hamburger-slim:after {
  position: absolute;
  top: calc(100% - 2px);
}
.hamburger-slim:hover:before {
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg);
}
.hamburger-slim:hover:after {
  top: 50%;
  transform: rotate(315deg);
}

/*----------------------------------------------
------------------MEDIA QUERIES-----------------
------------------------------------------------*/
@media only screen and (min-width: 2000px){
  .jarallax .jarallax-img img {
    width: 100%;
  }
} 
@media only screen and (max-width: 991px) {
  .about .left-container {
    width: 100%;
  }
  .about .right-container {
    width: 100%;
  }
  .about .right-container .image-container {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .jarallax {
    height: 40vh;
  }
  .contact .container #scene-4 {
    right: -58px;
  }
  .testimonials .container #scene-2 {
    left: -69px;
  }
  .jarallax.one .jarallax-img img {
    margin-left: -120px;
  }
  .jarallax .jarallax-img img {
    width: auto;
    margin-left: -394px;
  }
  .package-item {
    height: 340px;
  }
  .package-icon {
    width: 40px;
    height: 40px;
  }
  .block {
    padding: 40px 80px 40px 80px;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .contact .container {
    margin-bottom: 20px;
  }
  .main-background {
    background-position: 50% 0% !important;
  }
  .navbar-right {
    display: none !important;
  }
  form .col-md-12 textarea {
    margin-top: 0px;
  }
  .half-width {
    width: 50%;
    float: left;
  }
  .half-width .time-label {
    width: 210px;
  }
  .half-width #wedding-datepicker input {
    margin-top: 0px;
    width: 210px;
  }
  .main .title-text h1 {
    font-size: 70px;
  }
  .main .title-text h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-collapse.in {
    margin-top: 17px;
  }
  .navbar-collapse {
   padding-left: 0; 
  }
  .navbar-nav {
    text-align: left;
    float: none;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav li a {
    font-size: 18px;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    margin-bottom: 10px;
  }
  .logo-img {
    right: 17px;  
  }
  .package-header {
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: scale(1.005);
    float: none;
    margin-left: 0;
  }
  .heart-btn {
    border: 4px solid #fff;
    left: unset;
    right: 20px;
    top: 73px;
  }
  .text {
    left: -10px;
    margin-top: 20px;
  }
  .package-item {
    height: 500px;
    margin-bottom: 50px;
  }
  .package-icon {
    top: 0;
    left: 50% !important;
    transform: translate(-50%) !important;
  }
  .packages h1 {
    margin-bottom: 80px;
  }
  .packages .container {
    margin-bottom: -30px;
  }
  .package-header.seqld {
    background-image: linear-gradient(45deg, #fccb90 0%, #d57eeb 100%);
  }
  .package-header.destination {
    background-image: linear-gradient(to right, #5ee7df 0%, #b490ca 100%);
  }
  .package-header.sydmelb {
    background-image: linear-gradient(to right, #8451c2 0%, #30cfd0 100%);
  }
}
@media only screen and (max-width: 479px) {
  .main .title-text h1 {
    font-size: 45px;
  }
  .main .title-text .smaller {
    margin-top: -8px;
    font-size: 20px;
  }
  .main .title-text h3 {
    font-size: 28px;
  }
  .main .title-text {
    bottom: 83px !important;
    left: 22px;
  }
  .block {
    padding: 5px;
  }
  .block h1 {
    padding: 10px 20px 0 20px;
  }
  .about .right-container .image-container {
    margin-bottom: 40px;
  }
  .testimonial-image {
    float: none;
    width: 100%;
    margin-right: 0px;
    display: inline-block;
    text-align: center;
  }
  .testimonial-description {
    display: block;
    margin-top: 40px;
    width: 100%;
  }
  .testimonial-quote-top {
    top: -30px;
    left: 0;
    width: 20px;
  }
  .testimonial-quote-bottom {
    bottom: -20px;
    right: 0;
    width: 20px;
  }
  .testimonial-item {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .testimonials .container {
    margin-bottom: 30px;
  }
  .jarallax {
    height: 50vh;
  }
  .jarallax.one .jarallax-img img {
    margin-left: -120px;
  }
  .jarallax.two .jarallax-img img {
    margin-top: -300px;
    margin-left: -600px;
  }
  .jarallax.three .jarallax-img img {
    margin-top: -300px;
    margin-left: -600px;
  }
  .package-item {
    height: 510px;
  }
  .block h1 {
    font-size: 32px; 
  }
  .contact {
    padding: 0 15px;
  }
  .contact .container form div {
    padding-right: 5px;
  }
  form {
    width: auto;
    display: block;
    margin: 0 auto;
  }
  #wedding-datepicker input {
    display: block;
    width: 100%;
  }
  .time-label {
    width: 98%;
  }
  form .col-md-12 textarea {
    margin-top: 15px;
  }
  .testimonial-info {
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px
  }
}
@media only screen and (max-width: 300px) {
  .too-small-message {
    display: block;  
  }
}