/*----------------------------------------------
----------------------GENERAL--------------------
------------------------------------------------*/
body {
  background: #FFF;
  overflow-x: hidden;
  color: #515151;
}

*::selection { 
  background: rgb(0,0,0);
  color: white;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
p {
  transition: all 0.4s ease; 
}
@font-face {
  font-family: 'Futura PT Light';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
      url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Regular';
  src: url('../fonts/FuturaPT-Regular.woff2') format('woff2'),
      url('../fonts/FuturaPT-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Medium';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
      url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Bold';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
      url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
      url('../fonts/ProximaNova-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,1);
  z-index: 150;
}
.too-small-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3b3b3b;
  z-index: 1000;
  font-family: 'Proxima Nova Regular';
  color: white;
  text-align: center;
  display: none;
  transition: all 0.7s ease;
  animation: fadeIn 0.6s forwards;
}
.too-small-message p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 17px;
}
.jarallax {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60vh;
}
.jarallax .jarallax-img {
  position: absolute;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.jarallax .jarallax-img img {
  width: 100%;
}
.jarallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: -moz-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%, rgba(47, 0, 99, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47, 0, 99, 0.5)), color-stop(100%,rgba(0, 75, 75, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* W3C */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
/*----------------------------------------------
-------------------MAIN SECTION-----------------
------------------------------------------------*/
#particles-js {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100%;
}
.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform: perspective(1px) scale(1.25);
  transition: opacity .5s ease, transform 3s ease;
  background-repeat: no-repeat !important;
  background: url('../img/brendan.jpg');
  background-position: 0% 30% !important;
  background-size: cover !important;
  transition: all 0.8s ease;
}
.main, .about {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 1; 
  background: -moz-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%, rgba(47, 0, 99, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47, 0, 99, 0.5)), color-stop(100%,rgba(0, 75, 75, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%); /* W3C */
  background: linear-gradient(to bottom, rgba(0, 75, 75, 0.5) 0%,rgba(47, 0, 99, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.main .title-text {
  margin-left: 50px;
  position: absolute;
  top: auto !important;
  bottom: -50px !important;
  color: #fff;
  font-family: 'Futura PT Medium';
}
.main .title-text h1 {
  font-size: 80px;
}
.main .title-text .smaller {
  margin-top: -13px;
  font-size: 25px;
  font-family: 'Proxima Nova Regular';
}
.main .title-text h3 {
  font-size: 34px;
  font-family: 'Futura PT Light';
}
/*----------------------------------------------
-------------------ABOUT SECTION-----------------
------------------------------------------------*/

.block {
  height: 100%;
  padding: 40px 80px 80px 80px;
  background: #fff;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1; 
}
.block .container {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}
.block p {
  font-size: 20px; 
  font-family: 'Muli', 'sans-serif';
  text-align: left;
}
.block h1 {
  font-family: 'Futura PT Bold';
  letter-spacing: 1px;
  font-size: 35px; 
  color: #3b3b3b;
  text-align: center;
}
.about .left-container {
  float: left;
  width: 45%;
  height: 100%;
  margin-right: 5%;
}
.about .right-container {
  float: right;
  width: 45%;
  margin-left: 5%;
}
.about .right-container .image-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.about .right-container .about-image {
  display: block;
  width: 100%;
  transition: all 0.8s ease;
  border-radius: 6px;
  overflow: hidden;
  transform: scale(1.05);
}
.about .right-container picture img {
  height: 100%;
  border-radius: 6px;
}
.about .right-container .image-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
  z-index: 2;
  transform: scale(1.05);
}
.about .right-container .image-container .overlay.gradient {
  opacity: 0.5;
  background: -moz-linear-gradient(-45deg,  #c5deea 0%, #8abbd7 31%, #066dab 100%);
  background: -webkit-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  background: -o-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  background: -ms-linear-gradient(-45deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  background: linear-gradient(135deg,  #c5deea 0%,#8abbd7 31%,#066dab 100%);
  transition: all 0.8s ease;
}
.highlight {
  color: white;
  padding-left: 3px;
  padding-right: 3px;
}
.highlight.heart {
  background: #ca084194;
}
.highlight.coffee {
  background: #2d0000a8;
}
.highlight.sunshine {
  background: #e9bc007a;
  color: #3b3b3b;
  white-space: nowrap;
}
.highlight.latte {
  background: #6b430080;
}

/*----------------------------------------------
---------------TESTIMONIALS SECTION-------------
------------------------------------------------*/

.testimonials .container {
  max-width: 1200px;
  margin-top: 0;
}
.testimonial-item {
  margin-top: 60px;
  max-width: 700px;
  padding: 30px 30px 30px 20px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.75);
  border: 1px solid #acacac;
  display: table;
  transition: all 0.6s ease;
}
.testimonial-container {
  display: inline-block;
  width: 100%;
}
.testimonial-image {
  float: left;
  width: auto;
  margin-right: 70px;
  display: inline-block;
}
.testimonial-image p {
  color: #9b9b9b;
  margin-bottom: 0;
  font-size: 13px; 
}
.testimonial-image p:nth-child(2) {
  color: #484848;
  font-size: 18px; 
  font-weight: bold;
}
.testimonial-image picture {
  display: block;
  margin-bottom: 10px;
}
.testimonial-image picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.testimonial-description {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  line-height: 25px;
  backface-visibility: hidden;
}

.testimonial-quote-top,
.testimonial-quote-bottom {
  position: absolute;
  width: 30px;
  height: auto;
  z-index: -1;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.testimonial-quote-top {
  top: -10px;
  left: -40px;
}
.testimonial-quote-bottom {
  bottom: -10px;
  right: -10px;
}
.testimonial-item.left {
  float: left;
}
.testimonial-item.right {
  float: right;
}

/*----------------------------------------------
-----------------PACKAGES SECTION---------------
------------------------------------------------*/

.packages .container {
  margin-top: 70px;
  max-width: 1080px;
}
.svg-wrapper {
  position: relative;
  display: block;
}
.svg { 
  box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255); 
  background: #eafbff;
}
.shape {  
  stroke-width: 2px;
  fill: transparent;
  stroke: #acacac;
  transition: fill .6s;
}
.one { stroke-dasharray: 500 300 500 300; stroke-dashoffset: 500; }
.two { stroke-dasharray: 300 500 300 500; }
.text {
  color: #515151;
}
.package-item {
  max-width: 30%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  min-height: 500px;
  position: relative;
  transition: all 0.6s ease;
}
.text {
  font-size: 18px;
  padding: 15px;
  top: 0;
  left: 0;
  position: absolute;
  font-family: 'Muli', 'sans-serif';
  height: 460px;
}
.text ul {
  padding-inline-start: 20px;
  list-style-type: none;
}
.text li {
  line-height: 22px;
  margin-bottom: 8px;
  text-indent: -12px;
}
.text ul li:before {
  content: "-";
  margin-right: 5px;
}
.text dt {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.text dd {
  margin-top: 35px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  bottom: 0;
}
.gst {
  font-size: 9px;
  color: #808080;
  margin-left: 5px;
}
.package-icon {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%);
  width: 40px;
  height: 40px;
  transition: all 0.4s ease;
}
.package-icon.heart {
  background: url('../img/icons/heart.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-icon.rings {
  background: url('../img/icons/rings.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-icon.bouquet {
  background: url('../img/icons/bouquet.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/*----------------------------------------------
------------------MEDIA QUERIES-----------------
------------------------------------------------*/
@media only screen and (min-width: 2000px){

}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 479px) {
}
@media only screen and (max-width: 300px) {
  .too-small-message {
    display: block;  
  }
}