/*----------------------------------------------
----------------------GENERAL--------------------
------------------------------------------------*/
body {
  background: #FFF;
  overflow-x: hidden;
  color: #fff;
}

*::selection { 
  background: #1e65ae;
  color: white;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Futura PT Light';
  src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
      url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Regular';
  src: url('../fonts/FuturaPT-Regular.woff2') format('woff2'),
      url('../fonts/FuturaPT-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Medium';
  src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
      url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Medium Oblique';
  src: url('../fonts/FuturaPT-Medium-Oblique.woff2') format('woff2'),
      url('../fonts/FuturaPT-Medium-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Bold';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
      url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
      url('../fonts/ProximaNova-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.preloader-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: #fff;
}
.preloader-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 103;
}
.preloader-wrap p {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  text-align: center;
  font-family: 'Futura PT Bold';
  font-size: 90px;
  transform: translate(-50%, -50%);
  transition: left 1.2s ease;
}
.loader-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
  transition: all 1.4s ease, opacity 0.3s ease;
}

@keyframes bounce {
  0%,to {
    top: 34%;
  }

  50% {
    top: 35%;
  }
}

@-webkit-keyframes bounce {
  0%,to {
    top: 34%;
  }

  50% {
    top: 35%;
  }
}
.pace-inactive {
  display: block !important;
  transition: all 1.2s ease;
}
.pace .pace-progress {
  background-color: rgb(107, 166, 255);
  position: fixed;
  z-index: 101;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  transition: all 1.2s ease;
}
.too-small-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #3b3b3b;
  z-index: 1000;
  font-family: 'Proxima Nova Regular';
  color: white;
  text-align: center;
  display: none;
  transition: all 0.7s ease;
  animation: fadeIn 0.6s forwards;
}
.too-small-message p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 17px;
}
#scene, #scene-2, #scene-3, #scene-4 {
  display: block !important;
  left: unset !important;
}
.parallax-wrapper {
  position: relative;
  height: 60vh;
  z-index: 1;
}
.parallax .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%, rgba(0, 15, 90, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 15, 90, 0.5)), color-stop(100%,rgba(92, 92, 92, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%); /* W3C */
  background: linear-gradient(to bottom, rgba(92, 92, 92, 0.5) 0%,rgba(0, 15, 90, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.parallax {
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  /* BG behaviour */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------------------------------------------
-------------------MAIN SECTION-----------------
------------------------------------------------*/
#particles-js {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(14, 56, 134, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14, 56, 134, 0.5)), color-stop(100%,rgba(0, 0, 0, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%,rgba(14, 56, 134, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%,rgba(14, 56, 134, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%,rgba(14, 56, 134, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%,rgba(14, 56, 134, 0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform: perspective(1px) scale(1.25);
  transition: opacity 0.5s ease, transform 1s ease, height 0.7s ease;
  background-repeat: no-repeat !important;
  background: url('../img/brendan.jpg');
  background-position: 0% 30% !important;
  background-size: cover !important;
}
.main, .about {
  display: block;
  position: relative;
  overflow-y: hidden;
  height: 100vh;
  width: 100%;
  z-index: 1; 
}
.main .title-text {
  left: 85px;
  position: absolute;
  top: auto !important;
  bottom: 63px !important;
  color: #fff;
  font-family: 'Futura PT Medium';
  overflow: hidden;
}
.main .title-text h1 {
  font-size: 80px;
}
.main .title-text .smaller {
  margin-top: -13px;
  font-size: 25px;
  font-family: 'Proxima Nova Regular';
}
.main .title-text h3 {
  font-size: 34px;
  position: relative;
  font-family: 'Futura PT Light';
}
.fade.last {
  background: white;
  color: black;
  /*opacity: 1 !important;*/
  padding-left: 11px;
  padding-right: 11px;
  /*transition: all 0.6s linear;*/
}
.fade.last {
  border-radius: 6px;
  overflow: hidden;
}
.better-text {
  color: #3b3b3b;
  bottom: 0;
  opacity: 0;
  font-size: 34px;
  letter-spacing: -1px;
  font-family: 'Futura PT Medium Oblique';
  margin-left: 7px;
  margin-right: 7px;
  padding: 7px 0px 7px 0px;
  display: inline-block;
  /*Underline styles*/
  text-decoration: none;
  background-image: linear-gradient(to right, #0c83ff 0%, #0c83ff 100%);
  background-position: 0% 82%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  backface-visibility: hidden;
  transition: background-size 1.2s ease-in-out;
  width: fit-content;
}
.better-text.text-underline {
  background-size: 100% 1px;
}
/*----------------------------------------------
-------------------ABOUT SECTION-----------------
------------------------------------------------*/

.block {
  height: 100%;
  padding: 40px 80px 80px 80px;
  background: #fff;
  display: block;
  position: relative;
  overflow-y: hidden !important;
  width: 100%;
  z-index: 2; 
  border-top: 2px solid rgba(30, 101, 174, 0.7);
  border-bottom: 2px solid rgba(30, 101, 174, 0.7);
}
.block .container {
  position: relative;
  display: block;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}
.block p {
  font-size: 17px; 
  font-family: 'Muli', 'sans-serif';
  text-align: left;
}
.block h1 {
  font-family: 'Futura PT Bold';
  letter-spacing: 1px;
  font-size: 35px; 
  text-align: center;
}
.block p {
  color: #515151;
}
.block h1,
.block h3 {
  color: #3b3b3b;
}
.about .container {
  padding-top: 20px;
}
.about .left-container {
  float: left;
  width: 45%;
  height: 100%;
  margin-right: 5%;
}
.about .right-container {
  float: right;
  width: 45%;
  margin-left: 5%;
}
.about .right-container .image-container {
  position: relative;
  height: 100%;
  width: fit-content;
}
.about .right-container .about-image {
  display: block;
  width: 100%;
  transition: all 0.8s ease;
  border-radius: 6px;
  overflow: hidden;
  transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
}
.about .right-container picture img {
  height: auto;
  width: 100%;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.about .right-container .image-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
  z-index: 2;
  transform: scale(1.05);
}
.about .right-container .image-container .overlay.gradient {
  opacity: 0.5;
  background: #855d5d61;
  transition: all 0.8s ease;
}
.highlight {
  background: none !important;
  color: inherit !important;
  padding-left: 3px;
  padding-right: 3px;
}
.highlight.heart {
  background: #ca084194;
}
.highlight.coffee {
  background: #2d0000a8;
}
.highlight.sunshine {
  background: #e9bc007a;
  color: #3b3b3b;
  white-space: nowrap;
}
.highlight.latte {
  background: #6b430080;
}
.pattern.one {
  width: 130px;
}
.about .container #scene {
  z-index: 3;
  position: absolute;
  top: 50%;
  right: -80px;
  transform: translate(-50%);
}
/*----------------------------------------------
---------------TESTIMONIALS SECTION-------------
------------------------------------------------*/

.testimonials .container {
  max-width: 1200px;
  margin-top: 0;
  padding-bottom: 20px
}
.testimonial-item {
  margin-top: 60px;
  max-width: 700px;
  padding: 30px 30px 30px 20px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  border-radius: 6px;
  display: table;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.8s ease;
}
.testimonial-item:hover {
  cursor: default;
}
.testimonial-container {
  display: inline-block;
  width: 100%;
}
.testimonial-image {
  float: left;
  width: auto;
  margin-right: 70px;
  display: inline-block;
}
.testimonial-image p {
  color: #9b9b9b;
  margin-bottom: 0;
  font-size: 13px; 
}
.testimonial-image p:nth-child(1) {
  color: #484848;
  font-size: 17px; 
  font-weight: bold;
}
.testimonial-image picture {
  display: block;
  margin-bottom: 10px;
}
.testimonial-image picture img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.testimonial-description {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  line-height: 25px;
  backface-visibility: hidden;
}
.testimonial-quote-top,
.testimonial-quote-bottom {
  position: absolute;
  width: 30px;
  height: auto;
  z-index: -1;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.testimonial-quote-top {
  top: -10px;
  left: -40px;
}
.testimonial-quote-bottom {
  bottom: -10px;
  right: -10px;
}
.testimonial-item.left {
  float: left;
}
.testimonial-item.right {
  float: right;
}
.pattern.two {
  width: 100px;
}
.pattern.three {
  width: 70px;
}
.testimonials .container #scene-2 {
  position: absolute;
  top: 30%;
  left: -90px !important;
}
.testimonials .container #scene-3 {
  position: absolute;
  bottom: 33%;
  right: -70px !important;
}
.underline-anim {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.underline-anim:after,
.underline-anim:before { 
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.6s;
  opacity: 0;
}
.underline-anim:after {
  left: 0;
  background-image: linear-gradient(to left, #d34eb4 0%, #bf2e66 100%);
}
.underline-anim.underline-before:before {
  width: 100%;
  opacity: 1;
}
.underline-anim.underline-after:after {
  width: 100%;
  opacity: 1;
}
.second {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
/*----------------------------------------------
-----------------INSTAFEED SECTION--------------
------------------------------------------------*/
.instagram.block {
  padding-bottom: 40px;
  transition: all 1s ease-in-out;
}
.instagram .container {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  transition: all 1s ease-in-out;
}
#instafeed {
  margin: 0 auto;
  margin-bottom: -300px; 
  opacity: 0;
  min-height: 300px;
  min-width: 650px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  transition: opacity 0.8s ease-in-out, margin 0.7s ease;
  overflow: hidden; 
}
/*.owl-stage-width {
  width: 100%;
}*/
#sync1 {
  height: 300px;
}
.owl-item .item img {
  display: block;
  position: relative;
  width: auto;
  height: 320px;
  min-width: 320px;
}
.owl-item {
  opacity: 0.3;
  overflow: hidden;
  transition: all 0.8s ease;
}
.owl-item.active {
  opacity: 1;
}
.item {
  height: 310px;
  width: 310px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
}
.item:hover .insta-overlay {
  opacity: 1;
  transform: scale(1.04, 1.04);
}
.img-info {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-right: 25px;  
  padding-left: 25px;  
}
.img-info p {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  word-break: break-word;
}
.animation-container {
  overflow: hidden;
  display: inline-block;
}
.instagram-img {
  filter: sepia(20%);
}
.likes {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 30px;
  bottom: 25px;
  left: 27px;
}
.likes p {
  margin-top: 2px;
  margin-left: 6px;
  float: left;
  color: white;
  font-size: 13px;
}
.likes img {
  width: 22px !important;
  min-width: 22px !important;
  height: auto !important;
  float: left;
}
.insta-overlay {
  position: absolute;
  padding: 0px 25px 0px 25px;  
  bottom: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.7s ease;
  backface-visibility: hidden;
}
.simply-scroll-container { position:relative;}
.simply-scroll-clip { position:relative; overflow:hidden;}
.simply-scroll-list { margin:0; padding:0; overflow:hidden;}
.simply-scroll-list li { float:left; width:150px; height:150px; margin:0; padding:0; list-style:none;}

/*----------------------------------------------
-----------------PACKAGES SECTION---------------
------------------------------------------------*/
.packages {
  padding: 40px 80px 40px 80px; 
}
.packages .container {
  margin-top: 100px;
  max-width: 1080px;
}
.packages .second {
  height: 1px;
  display: inline-block;
}
.packages p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  transition: all 0.7s ease;
}
.packages p a {
  text-decoration: underline;
}
.package-item {
  display: block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  height: 500px;
  position: relative;
  transition: all 0.7s ease;
  border-radius: 6px;
  min-width: 300px;
  width: 30%;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  margin-bottom: 40px;
  opacity: 0;
  transform: scale(0.8);
  float: left;
}
.package-header {
  width: 100%;
  height: 83px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-left: 0px;
}
.package-header.seqld {
  background-image: linear-gradient(90deg, #fccb90 0%, #d57eeb 100%);
}
.package-header.destination {
  background-image: linear-gradient(to left, #5ee7df 0%, #b490ca 100%);
}
.package-header.sydmelb {
  background-image: linear-gradient(to left, #8451c2 0%, #30cfd0 100%);
}
.text {
  font-size: 17px;
  color: #515151;
  position: absolute;
  font-family: 'Muli', 'sans-serif';
  height: auto;
  width: auto;
  top: 120px;
}
.text ul {
  padding-inline-start: 20px;
  list-style-type: none;
  text-align: left;
  padding: 10px 25px;
}
.text li {
  line-height: 22px;
  margin-bottom: 5px;
}
/*.text ul li:before {
  content: "-";
  margin-right: 5px;
}*/
.text dt {
  text-align: left;
  font-size: 23px;
  margin-top: 12px;
  font-weight: 700;
  padding-left: 25px;
  color: #515151;
}
.text dd {
  text-align: left;
  font-size: 23px;
  position: relative;
  width: 100%;
  padding-left: 25px;
  margin-bottom: 10px;
}
.gst {
  font-size: 9px;
  color: #808080;
  margin-left: 5px;
}
.package-icon {
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
  transition: opacity 0.6s ease, top 0.4s ease, left 0.4s ease;
  z-index: -1;
  backface-visibility: hidden;
}
.loader-icon.confetti,
.package-icon.confetti {
  background: url('../img/icons/confetti.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-icon.rings {
  background: url('../img/icons/rings.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-icon.bouquet {
  background: url('../img/icons/bouquet.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.package-select {
  position: absolute;
  width: 100%;
  bottom: -1px;
  transition: all 0.4s ease;
  border-bottom: 1px solid #1e65ae;
  z-index: -1;
}
.heart-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #ffc5d1;
  transition: all 0.6s ease;
  border-radius: 50%;
  padding: 15px;
  border: 6px solid #fff;
  position: absolute;
  width: 60px;
  height: 60px;
  right: 30px;
  top: 60px;
}
.heart-btn:hover{
  cursor: pointer;
  background: #b095cb;
}
.heart-btn img { 
  width: 17px;
  margin: 0 auto;
  display: block;
  margin-top: 3px;
}

/*----------------------------------------------
------------------CONTACT SECTION---------------
------------------------------------------------*/

.contact {
  overflow: visible;
  border-bottom: none;
}
.contact h3 {
  font-size: 20px;
  font-family: 'Futura PT Light';
  text-align: center;
  position: relative;
  display: table;
  width: fit-content;
  margin: 0 auto;
}
.contact .underline {
  width: 0px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%);
  border-bottom: 1px solid #aec8e2;
  transition: all 1.3s ease-in-out; 
}
.contact .container {
  transition: all 0.6s ease;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 6px;
  max-width: 600px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  padding-left: 40px;
}
.contact .container form div {
  padding-right: 35px;
}
.contact .container p {
  display: inline-block;
  text-align: center;
  width: 100%; 
  padding-right: 35px;
  font-size: 14px;
  margin-top: -30px;
  margin-bottom: 60px;
}
.contact .container p a {
  text-decoration: underline;
}
.form-input {
  font-size: 16px;
  background-color: unset;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: none;
  border-radius: 6px;
  border: 1px solid rgba(30, 101, 174, 0.7);
  margin-bottom: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-input-container p {
  margin-bottom: 10px;
}
.form-name {
  margin-bottom: 20px;
}
.btn-submit {
  margin-top: 20px;
  margin-left: 38%;
  width: 120px; 
  height: 40px;
}
textarea, input {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  height: 60px;
  padding: 5px 50px 0px 15px;
  outline: none;
  color: #ffffff;
  border-bottom: none;
  transition: all 0.2s ease-in-out;
  resize: none;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus,
#wedding-datepicker input:hover,
#wedding-datepicker input:focus,
#time-label:hover,
#time-label:focus {
  color: #494949;
  /*background: #1e65ae33;*/
  /*font-size: 16px;*/
}
textarea:focus {
  background: #1e65ae33;
}
form {
  width: 500px;
  margin: 0 auto;
  transition: all 0.5s ease; 
}
form .col-md-4,
form .col-md-6,
form .col-md-8,
form .col-md-12 {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 30px;
  position: relative;
}
form .col-md-12 {
  margin-bottom: 0px;
}
form .col-md-12 textarea {
  height: 100px;
  margin-bottom: 30px;
  margin-top: -15px;
  transition: all 0.2s ease-in-out;
}
#wedding-datepicker input {
  display: block;
  width: 294px;
  font-family: 'Muli', sans-serif;
  text-align: left;
  color: transparent !important;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(30, 101, 174, 0.7);
  border-radius: 6px !important;
  transition: border-color 0.2s ease-out;
}
#wedding-datepicker input:first-child, #wedding-datepicker input:last-child {
  border-radius: 0;
}
#wedding-datepicker .date-text {
  position: absolute;
  left: 12px;
  font-family: 'Muli', sans-serif;
  margin: auto;
  color: #555 !important;
  z-index: 5;
  bottom: -28px;
}
.input-group.time {
  padding-right: 0 !important;
}
.input-group.time .form-control {
  width: 70px;
}
#wedding-time {
  width: 0px;
  min-width: 0px;
  padding: 0;
  opacity: 0;
}
.time-label {
  position: relative;
  display: inline-block;
  float: left;
  font-family: 'Muli', sans-serif;
  text-align: left;
  border: 1px solid rgba(30, 101, 174, 0.7);
  height: 35px;
  width: 127px;
  color: #3b3b3b;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.6s ease;
  padding: 9px 9px 0 12px;
}
.input-group.time {
  cursor: pointer;
}
.input-group-append {
  position: absolute;
  left: 0px;
  top: 0;
  opacity: 0;
  top: -35px;
  width: 210px;
  height: 100%;
}
.timepicker-hour {
  margin-left: 10px;
}
.timepicker-hour,
.timepicker-minute {
  padding-top: 2px;
  cursor: pointer;
}
.timepicker-hours .table-condensed,
.timepicker-minutes .table-condensed {
  margin: 15px;
}
label {
  position: absolute;
  top: -7px;
  left: 13px;
  font-size: 11px;
  color: #555;
  background: white;
  padding: 0 5px 0 5px;
  border-radius: 6px;
  font-family: 'Muli', sans-serif;
}
.col-md-12 label {
  top: -23px;
}
.half-width, .picker {
  margin-bottom: 20px !important;
}
.picker { 
  margin-top: 0px;
}
.picker label {
  background: white;
  padding: 0 5px 3px 5px;
  z-index: 0;
}
.picker #wedding-datepicker .form-item {
  transform: scale(1.005);
}
.datepicker.dropdown-menu {
  font-family: 'Muli', sans-serif;
  padding: 0;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  animation: popup 0.2s ease-out forwards;
}
.datepicker.dropdown-menu table {
  background-color: #1e65ae;
}
.datepicker.dropdown-menu table thead {
  background-color: #1e65ae;
}
.datepicker.dropdown-menu table thead tr {
  border-top: 0;
}
.datepicker.dropdown-menu table tbody {
  background-color: white;
}
.datepicker.dropdown-menu table tr {
  border-top: 1px solid #ededed;
}
th.next, th.prev {
  cursor: pointer;
}
.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
  width: auto;
  height: 24px;
  padding: 8px;
  font-size: 16px;
  border-radius: 0;
  transition: background-color 0.6s ease-out;
}
@media screen and (min-width: 400px) {
  .datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
    padding: 12px;
  }
}
.datepicker.dropdown-menu table tr td:hover, .datepicker.dropdown-menu table tr th:hover, .datepicker.dropdown-menu table tr td.active:hover, .datepicker.dropdown-menu table tr th.active:hover, .datepicker.dropdown-menu table tr td:active:hover, .datepicker.dropdown-menu table tr th:active:hover {
  border-color: #ededed;
  border-radius: 0;
  transition: background-color 0.2s ease-out;
}
.datepicker.dropdown-menu table tr td.focused, .datepicker.dropdown-menu table tr th.focused, .datepicker.dropdown-menu table tr td.selected, .datepicker.dropdown-menu table tr th.selected {
  background-color: #24a0ad;
  border-color: #ededed;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr td.active, .datepicker.dropdown-menu table tr th.active, .datepicker.dropdown-menu table tr td.active:focus, .datepicker.dropdown-menu table tr th.active:focus, .datepicker.dropdown-menu table tr td.active.active:hover, .datepicker.dropdown-menu table tr th.active.active:hover, .datepicker.dropdown-menu table tr td:active:focus, .datepicker.dropdown-menu table tr th:active:focus, .datepicker.dropdown-menu table tr td.highlighted, .datepicker.dropdown-menu table tr th.highlighted {
  background-color: #1b7983;
  border-color: #ededed;
}
.datepicker.dropdown-menu table tr th.datepicker-switch {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: inherit;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr th.prev, .datepicker.dropdown-menu table tr th.next {
  color: #fff;
  background-color: #054b93;
  border-radius: 0;
  padding-left: 20px;
}
.datepicker.dropdown-menu table tr th.dow {
  padding: 2px 12px;
  font-size: 12px;
  line-height: 2;
  color: #fff;
  background-color: #2482b0;
  border-top: 1px solid #196d76;
  border-radius: 0;
}
.datepicker.dropdown-menu table tr td.day {
  width: 24px;
  color: #515151;
  border-right: 1px solid #ededed;
  cursor: pointer;
}
.datepicker.dropdown-menu table tr td.day:last-child {
  border-right-width: 0;
}
.datepicker.dropdown-menu table tr td.range {
  background-color: #eee;
}
.datepicker.dropdown-menu .new, .datepicker.dropdown-menu .old, .datepicker.dropdown-menu .disabled, .datepicker.dropdown-menu .disabled:hover {
  color: #ccc !important;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
.fontawesome-calendar {
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 24px;
  z-index: -99;
}
@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #1e65ae;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  margin: 10px 0 0 0;
  padding: 0;
  height: 120px;
  max-width: 100%;
  width: auto;
  color: #515151;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td, .bootstrap-datetimepicker-widget.dropdown-menu table th {
  border-radius: 0;
  cursor: pointer;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.old, .bootstrap-datetimepicker-widget.dropdown-menu table td.new {
  color: #bbb;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
  border-bottom-color: #0095ff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active, .bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover, .bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
  background-color: #0095ff;
  text-shadow: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before, .bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before, .bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  height: 40px;
  padding: 0;
  width: 40px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-animated {
  color: #fff;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: all 0.5s;
  background: #1e65ae;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  border-radius: 6px;
  position: absolute;
  bottom: 30px;
  padding: 0;
  left: 50%;
  transform: translate(-50%);
  border: 0;
  backface-visibility: hidden;
  -webkit-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  -moz-box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
  box-shadow: 2px 2px 22px -4px rgba(0,0,0,0.44);
}
.btn-animated:hover {
  color: #fff;
  transform: translate(-50%) scale(0.95);
  box-shadow: none;
}
.pattern.four {
  width: 100px;
}
.contact .container #scene-4 {
  position: absolute;
  top: 10%;
  right: -80px;
  left: unset !important;
}
/*----------------------------------------------
------------------FOOTER STYLES-----------------
------------------------------------------------*/
footer {
  background: #e9e9e9;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-family: 'Muli', 'sans-serif';
  transition: all 0.3s ease;
}
.contact-links {
  display: block;
  width: fit-content;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px;
  padding: 20px 20px 5px 20px;
  height: 110px;
}
.social-item {
  position: relative;
  display: inline-block;
  min-width: 160px;
  height: 70px;
  padding: 20px 30px 20px 30px;
  transition: all 0.5s ease;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  backface-visibility: hidden;
}
.contact-links a,
.contact-links a:hover {
  color: #3b3b3b;
  text-decoration: none;
}
.social-item .details {
  font-size: 10px; 
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -50px;
  transition: all 0.4s ease;
}
.social-item img {
  width: 20px;
  height: auto;
}
.copyright {
  position: relative;
  padding-top: 18px;
  width: 100%;
  color: #fff;
  background-color: #1e65ae;
  font-size: 10px;
  height: 50px;
  text-align: center;
}
.copyright a {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

/*----------------------------------------------
------------------NAVBAR STYLES-----------------
------------------------------------------------*/

.navbar-default {
  background-color: transparent;
  z-index: 99;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 53px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: none;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  transition: all 0.5s ease;
  padding-top: 20px;
}
.navbar {
  border-radius: 0px 0px 0px 0px;
  border: 0px;
}
.navbar-default {
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.container {
  width: auto;
  margin-left: 35px;
  margin-right: 45px;
}
.navbar-nav {
  width: 100%;
  text-align: right;
  float: right;
}
.navbar-nav li {
  display: inline-block;
}
.navbar-right {
  right: 300px;;
  margin-top: -35px;
  position: absolute;
  float: none;
}
.navbar-right a:hover {
  text-decoration: none;
}
.contact-icon {
  width: 15px;
  height: 15px;
  transition: all 0.5s ease;
}
.contact-icon {
  margin-right: 15px;
}
.contact-icon-footer {
  margin: 0px;
}
.phone {
  width: 12px;
  height: 12px;
}
.email {
  height: 17px;
  width: 17px;
}
.facebook {
  height: 18px;
  width: 18px;
}
.logo-img {
  position: absolute;
  z-index: 0;
  padding-top: 2px;
  right: 85px;
  width: 180px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.navbar-collapse {
  padding-left: 75px;
  max-width: 1080px;
}
.navbar-default .container .navbar-header .logo-img {
  top: 90px;
  left: 20px;
  height: 100px !important;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:focus, 
.navbar-default .navbar-nav .active a:hover {
  background: transparent;
}
.navbar-default .navbar-nav li a::after {
  bottom: -4px;
}
.navbar-default .navbar-nav li a {
  color: white;
  font-family: 'Futura PT Light';
  font-size: 16px;
  font-weight: 200;
  color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a:hover {
  -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #1e65ae !important; 
}
.navbar-default .navbar-nav .active a:focus {
  color: inherit;
}
.navbar-brand {
  opacity: 0;
  position: fixed;
  top: 3px;
  left: 5px;
  transform: none !important;
  display: inline-block;
  padding: 0;
  z-index: 999;
  transition: all 0.4s ease;
}
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  /* margin-right: 15px; */
  /* margin-bottom: 8px; */
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}
.navbar-default .navbar-toggle,
.navbar-default-home .navbar-toggle {
  border-color: transparent; /* Removes border color */
}
.navbar-default .navbar-toggle .icon-bar, .navbar-default-home .navbar-toggle .icon-bar {
    background-color: #5c6174;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default > .container > .navbar-header > a > img {
  height: 70px !important;
  padding: 4px 8px 22px 8px;
}
.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a {
  display: inherit;
}
.navbar-toggle {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
  border: none; 
}
.navbar-collapse.collapsing {
  margin-top: 17px;
}
.navbar-collapse.in {
  overflow: hidden;
}
.navbar-collapse.in  .navbar-nav {
  transition: all 0.3s ease-in-out;
  opacity: 1 !important;
}
.transparent {
  opacity: 0 !important;
}
.opaque {
  opacity: 1 !important;
}
.hamburger-slim {
  background: transparent;
  /* margin: 60px auto 40px; */
  position: absolute;
  top: 6px;
  height: 20px;
  width: 30px;
}
.hamburger-slim:before, .hamburger-slim:after {
  background: #3b3b3b;
  backface-visibility: hidden;
  content: "";
  height: 2px;
  left: 0;
  transition: 0.44s;
  width: 30px;
}
.hamburger-slim:before {
  box-shadow: #3b3b3b 0 9px 0 0;
  position: absolute;
  top: 0;
}
.hamburger-slim:after {
  position: absolute;
  top: calc(100% - 2px);
}
.hamburger-slim:hover:before {
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg);
}
.hamburger-slim:hover:after {
  top: 50%;
  transform: rotate(315deg);
}

/*----------------------------------------------
------------------MEDIA QUERIES-----------------
------------------------------------------------*/
@media only screen and (min-width: 2000px){
  .jarallax.four .jarallax-img img {
    width: 100%;
    height: auto;
    margin-left: auto;
  }
} 
@media only screen and (min-width: 1280px){
  .jarallax .jarallax-img img {
    width: 100%;
    height: auto;
  }
} 
@media only screen and (max-width: 1200px){
  .package-item {
    width: 100%;
    height: 440px;
    margin-bottom: 60px;
  }
  .about .left-container {
    width: 100%;
  }
  .about .right-container {
    width: 100%;
  }
  .about .right-container .image-container {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .item {
    height: 194px;
    width: 194px;
  }
  #instafeed {
    max-width: 580px;
    min-width: 580px;
    min-height: 194px;
  }
  .owl-item .item img {
    height: 194px;
    min-width: 194px;
  }
  #sync1 {
    height: 194px;
  }
  .img-info p {
    font-size: 10px;
  }
  .likes {
    bottom: -2px;
    left: 25px;
  }
  .likes img {
    min-width: 15px !important;
    width: 15px !important;
  }
  .likes p {
    margin-top: 0px;
    font-size: 10px;
    margin-left: 3px;
  }
}
@media only screen and (max-width: 991px) {
  .parallax-wrapper {
    position: relative;
    height: 500px;
  }
  .contact .container #scene-4 {
    right: -58px;
  }
  .testimonials .container #scene-2 {
    left: -69px;
  }
  .block {
    padding: 40px 80px 40px 80px;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .contact .container {
    margin-bottom: 20px;
  }
  .main-background {
    background-position: 50% 0% !important;
  }
  .navbar-right {
    display: none !important;
  }
  form .col-md-12 textarea {
    margin-top: 0px;
  }
  .picker #wedding-datepicker input {
    margin-top: 0px;
  }
  .main .title-text {
    left: 33px;
    position: absolute;
    top: auto !important;
    bottom: 89px !important;
  }
  .main .title-text h1 {
    font-size: 70px;
  }
  .main .title-text h3 .better-text,
  .main .title-text h3 {
    font-size: 25px;
  }
  form .col-md-4,
  form .col-md-6,
  form .col-md-8,
  form .col-md-12 {
    margin-bottom: 30px;
  }
  .picker {
    margin-top: -25px;
  }
  .col-md-12 {
    margin-top: 50px;
  }
  form {
    padding-top: 20px;
  }
  .time-label {
    width: 100%;
  }
  .col-md-12 {
    margin-top: 35px;
  }
  .col-md-12 label {
    top: -10px;
  }
  .packages p {
    margin-top: 20px;
  }
  form .col-md-12 {
    margin-bottom: 0px;
  }
  .contact .container p {
    margin-top: 7px;
    margin-bottom: 65px;
  }
  .navbar-collapse {
    padding-left: 30px;
  }
  .logo-img {
    right: 30px;
  }
  .package-item {
    margin-right: unset;
    margin-left: unset;
  }
}
@media only screen and (max-width: 767px) {
  .fade-last {
    padding: 5px 0px 0px 5px;
  }
  .better-text {
    padding: 0px 4px 2px 4px !important;
    border-radius: 6px;
  }
  .navbar-collapse.in {
    margin-top: 17px;
  }
  .navbar-collapse {
    padding-left: 0; 
    -webkit-box-shadow: -5px 26px 41px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 26px 41px -31px rgba(0,0,0,0.75);
    box-shadow: -5px 26px 41px -31px rgba(0,0,0,0.75);
  }
  .navbar-nav {
    text-align: left;
    float: none;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav li a {
    font-size: 18px;
  }
  .navbar-default .navbar-nav > li, .navbar-default .navbar-nav > li > a {
    margin-bottom: 10px;
  }
  .logo-img {
    right: 17px;  
  }
  .package-header {
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: scale(1.005);
    float: none;
    margin-left: 0;
  }
  .heart-btn {
    border: 4px solid #fff;
    left: unset;
    right: 20px;
    top: 73px;
  }
  .text {
    margin-top: 10px;
    left: -3px;
  }
  .package-item {
    height: 500px;
    margin-bottom: 50px;
  }
  .package-icon {
    top: 0;
    left: 50% !important;
    transform: translate(-50%) !important;
  }
  .packages h1 {
    margin-bottom: 30px;
  }
  .packages .container {
    margin-bottom: -30px;
  }
  .package-header.seqld {
    background-image: linear-gradient(45deg, #fccb90 0%, #d57eeb 100%);
  }
  .package-header.destination {
    background-image: linear-gradient(to right, #5ee7df 0%, #b490ca 100%);
  }
  .package-header.sydmelb {
    background-image: linear-gradient(to right, #8451c2 0%, #30cfd0 100%);
  }
  form .col-md-12 textarea {
    height: 200px;
  }
  .pattern.one {
    width: 90px;
  }
  .about .container #scene {
    right: -35px;
  }
  .testimonials .container #scene-2 {
    left: -67px !important;
  }
  .testimonials .container #scene-3 {
    right: -32px !important;
  }
  form {
    width: auto;
    display: block;
    margin: 0 auto;
  }
  .contact-links {
    height: auto;
  }
  .social-item {
    width: 47%;
    float: left;
    margin: 0px 1.5% 30px 1.5%;
    box-shadow: rgba(255, 255, 255, 0.44) 2px 2px 22px -4px; 
    background: rgb(255, 255, 255);
  }
  .contact-links {
    padding-bottom: 0px;
  }
  .social-item .details {
    bottom: -3px !important;
    opacity: 1 !important;
  }
  .contact h3 {
    font-size: 18px;
  }
  .packages .container {
    margin-top: 30px;
  }
  .parallax-wrapper {
    position: relative;
    height: 300px;
  }
  .main .title-text h1 {
    font-size: 60px;
  }
  .main .title-text h3 .better-text, .main .title-text h3 {
    font-size: 22px;
  }
  .testimonial-image {
    float: none;
    width: 100%;
    margin-right: 0px;
    display: inline-block;
    text-align: center;
  }
  .testimonial-description {
    display: block;
    margin-top: 40px;
    width: 100%;
  }
  .testimonial-quote-top {
    top: -30px;
    left: 0;
    width: 20px;
  }
  .testimonial-quote-bottom {
    bottom: -20px;
    right: 0;
    width: 20px;
  }
  .testimonial-item {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .testimonials .container {
    margin-bottom: 30px;
  }
  .testimonial-info {
    width: fit-content;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px
  }
  .block {
    padding: 40px 10px 40px 10px;
  }
  .time-label {
    width: 100%;
  }
  form .col-md-4,
  form .col-md-6,
  form .col-md-8,
  form .col-md-12 {
    margin-bottom: 20px;
  }
  form .col-md-12 textarea {
    margin-top: -14px;
  }
  .item {
    height: 207px;
    width: 207px;
  }
  #instafeed {
    min-height: 195px;
  }
  .owl-item .item img {
    height: 207px;
    min-width: 207px;
  }
  #sync1 {
    height: 195px;
  }
  .item {
    height: 167px;
    width: 167px;
  }
  #instafeed {
    max-width: 500px;
    min-width: 500px;
    min-height: 167px;
  }
  .owl-item .item img {
    height: 167px;
    min-width: 167px;
  }
  #sync1 {
    height: 167px;
  }
  .likes {
    bottom: -2px;
    left: 15px;
  }
  .likes img {
    min-width: 15px !important;
    width: 15px !important;
  }
  .likes p {
    margin-top: 2px;
    font-size: 10px;
    margin-left: 3px;
  }
  .img-info {
    padding-right: 15px;
    padding-left: 15px;
  }
  .img-info {
    max-height: 110px;
    overflow: hidden;
  }
  .img-info {
    top: 44%;
  }
  .preloader-wrap p {
    font-size: 30px;
    width: 60%;
    text-align: left; 
  }
  .contact .container p {
    padding-right: 0px;
  }
  form .col-md-12 {
    margin-top: 40px;
  }
  form .col-md-12 label {
    top: -21px;
  }
  form .col-md-12 textarea {
    margin-bottom: 0px;
  }
  .text {
    font-size: 15px;
  }
  .about .container {
    padding-top: 20px;
    margin-top: 10px;
  }
  .main .title-text {
    bottom: 20px !important;
  }
  .contact .container {
    padding-top: 10px;
  }
  .main .title-text {
    text-align: center;
    bottom: 83px !important;
    left: 50%;
    width: fit-content;
    display: table; 
    transform: translate(-50%) !important;
  }
  .fade.last {
    line-height: 28px;
    padding: 5px 10px 5px 10px;
  }
  .better-text {
    border-radius: 0px;
    line-height: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
  .text-underline {
    background-position: 0% 97%;
  }
  .preloader-wrap p {
    font-size: 45px; 
  }
}
@media only screen and (max-width: 479px) {
  .main .title-text h1 {
    font-size: 45px;
  }
  .main .title-text .smaller {
    margin-top: -8px;
    font-size: 20px;
  }
  .main .title-text h3 {
    font-size: 28px;
  }
  .fade.last {
    padding: 3px 0px 5px 0px;
  }
  .block {
    padding: 15px;
  }
  .block h1 {
    padding: 10px 20px 0 20px;
  }
  .about .right-container .image-container {
    margin-bottom: 40px;
  }
  .jarallax {
    height: 50vh;
  }
  .jarallax .jarallax-img img {
    height: auto;
  }
  .jarallax.one .jarallax-img img {
    margin-left: -280px;
  }
  .jarallax.two .jarallax-img img {
    margin-left: -310px;
    height: 100%;
    width: auto;
  }
  .jarallax.three .jarallax-img img {
    margin-left: -190px;
    height: 100%;
    width: auto;
  }
  .jarallax.four .jarallax-img img {
    margin-left: -310px;
  }
  .package-item {
    height: 510px;
  }
  .block h1 {
    font-size: 30px; 
  }
  .contact {
    padding: 0 30px 50px 30px;
  }
  .social-item {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .contact .container form div {
    padding-right: 5px;
  }
  #wedding-datepicker input {
    display: block;
    width: 100%;
  }
  .col-md-12 label {
     top: -9px; 
  }
  .pattern.two {
    width: 35px;
  }
  .testimonials .container #scene-2 {
    left: -3px;
  }
  .pattern.three {
    width: 45px;
  }
  .testimonials .container #scene-3 {
    right: -5px !important;
  }
  .pattern.four {
    width: 45px;
  }
  .contact .container #scene-4 {
    right: -15px;
  }
  .packages .container {
    margin-bottom: 10px; 
  }
  .package-item {
    margin-bottom: 0px;
    margin-top: 60px;
  }
  .contact .container {
    padding-left: 15px;
  }
  .about .right-container picture img {
    height: auto !important;
  }
  .main .title-text {
    width: 317px;
  }
  .jarallax .jarallax-img img {
    height: 100% !important;
    width: auto !important;
  }
  .col-md-12 {
    margin-top: 35px;
  }
  .contact-links {
    height: auto;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .social-item {
    min-width: 300px;
    width: 100%;
  }
  .main .title-text h3 .better-text, .main .title-text h3 {
    font-size: 22px;
  }
  .item {
    height: 300px;
    width: 300px;
  }
  #instafeed {
    max-width: 300px;
    min-width: 300px;
    min-height: 500px;
    margin-bottom: -500px;
  }
  .owl-item .item img {
    height: 300px;
    min-width: 300px;
  }
  #sync1 {
    height: 300px;
  }
  .img-info p {
    font-size: 14px;
    color: #3b3b3b;
  }
  .img-info {
    top: 30%;
    max-height: unset;
  }
  .likes {
    bottom: 102px;
  }
  .likes img {
    width: 22px !important;
  }
  .likes p {
    margin-top: 3px;
    font-size: 13px;
    margin-left: 7px;
    color: #3b3b3b;
  }
  .insta-overlay {
    opacity: 1;
    top: 100%;
    background: #fff;
  }
  .item, .owl-item, .owl-carousel .owl-stage-outer {
    overflow: visible;
  }
  .item:hover .insta-overlay{
    transform: none;
  }
  .contact .container p {
    margin-bottom: 20px;
  }
  .about .container #scene {
    right: -104px;
  }
  .preloader-wrap p {
    font-size: 35px; 
  }
  .preloader-wrap p {
    left: 45%;
    text-align: left;
    transform: translate(-50%, -50%);
  }
} 
@media only screen and (max-width: 300px) {
  .too-small-message {
    display: block;  
  }
}